
.footer {
    background: rgb(35, 141, 136);
}

.footer h5 {
    color: white;
    padding-top: 12px;
    margin-bottom: 8px;
}

.footer h6 {
    color: white;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
}